.scenario {
    height: 100vh;
    background-color: #242424;
    padding-left: 1rem;
}

.scenario-body {
    padding: 3rem;
}

.scenario-title {
    color: #fff8dc;
    text-align: center;
}
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
