.nav-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.nav-btn {
    width: 120px;;
    height: 50px !important;
    padding: 3px !important;
    border: 2px solid whitesmoke !important;
}

.nav-link {
    color: whitesmoke;
    font-size: 125% !important;
    padding: 0 !important;
}

.nav-link:hover {
    color: whitesmoke;
    font-weight: bold;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#title {
  top: 0;
  left: 20px;
  height: 40px;
  margin-top: 20px;
  width: 300px;
}

body {
  margin: 0;
  padding: 0;
}
 
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#title {
  top: 0;
  left: 20px;
  height: 40px;
  margin-top: 20px;
  width: 300px;
}
h2 {
  margin: 10px;
  font-size: 1.2em;
  text-align: left;
}
